<nav class="bg-stone-200 dark:bg-stone-800 h-14">
  <div class="max-w-screen-xl h-full flex items-center justify-center md:justify-start px-6 mx-auto">
    <ul class="font-medium font-navbar flex flex-row space-x-8 rtl:space-x-reverse">
      <li class=<%= current_page?("/") ? "nav-link-active" : "nav-link" %>>
        <a href="/">Home</a>
      </li>
      <li class=<%= current_page?("/about.html") ? "nav-link-active" : "nav-link" %>>
        <a href="/about.html">About</a>
      </li>
      <li class=<%= current_page?("#") ? "nav-link-active" : "nav-link" %>>
        <a href="#">Books</a>
      </li>
      <li class=<%= current_page?("#") ? "nav-link-active" : "nav-link" %>>
        <a href="#">Code</a>
      </li>
    </ul>
  </div>
</nav>
