---
pageable: true
per_page: 12
---
<div class="max-w-2xl pt-6 mx-auto px-6 pb-16">
  <h2 class="text-4xl mb-12 mt-4 font-serif text-center">Book Reviews</h2>
  <%= partial("scrolling_posts", locals: { blog_articles: blog.articles }) %>
</div>
