<div class="max-w-2xl pt-10 mx-auto px-6 pb-18">
  <%= partial("tag_title.html", locals: { tagname: tagname }) %>
</div>
<div class="pt-6 pb-16">
  <%= partial("scrolling_posts", locals: { blog_articles: page_articles }) %>
</div>
